<?xml version="1.0"?>

<launch>
  <arg name="port" />
  <arg name="baudrate" default="115200" />
  <arg name="log_commands" default="" />
  <arg name="odom_topic" default="/gps_odom" />
  <arg name="psrpos_topic" default="/gps_fix_psr" />
  <arg name="imu_topic" default="/novatel/imu" />
  <arg name="span_default_logs_period" default="0" />
  <arg name="gps_default_logs_period" default="0" />
  <arg name="psrpos_default_logs_period" default="0" />
  <arg name="range_default_logs_period" default="0" />
  <arg name="ephem_log" default="" />

  <node pkg="polaris_novatel" type="novatel_node" name="novatel_node" output="screen" 
      required="true">

    <param name="port" value="$(arg port)" />
    <param name="baudrate" value="$(arg baudrate)" />

    <param name="odom_topic" value="$(arg odom_topic)" />
    <param name="psrpos_topic" value="$(arg psrpos_topic)" />
    <param name="imu_topic" value="$(arg imu_topic)" />

    <param name="log_commands" value="$(arg log_commands)" />
    <param name="span_default_logs_period" value="$(arg span_default_logs_period)" />
    <param name="gps_default_logs_period" value="$(arg gps_default_logs_period)" />

    <!-- Note that NavSatFix topics (as is psrpos) report position covariance
          matrices with ENU units. In order to obtain this, you must also ask 
          for the BestUTM log. Otherwise, only PSR LLA will be reported. -->
    <param name="psrpos_default_logs_period" value="$(arg psrpos_default_logs_period)" />

    <!-- L1L2Range message. This requires the BestUTM log be requested, as it 
    requires LLA and LLA StD. -->
    <param name="range_default_logs_period" value="$(arg range_default_logs_period)" />

    <!-- will call GPSEPHEMB _____, using the string specified here
        Logging options:
            ONCHANGED
            ONNEW
            ONTIME 1.0 (or other interval)
            ONCE
        In the case of an empty string, no ephermis will be requested (default)
     -->
    <param name="ephem_log" value="$(arg ephem_log)" />

  </node>

</launch>

